# Compiled class files
*.class

# Jar/War/Ear files
*.jar
*.war
*.ear

# Logs
*.log

# Build artifacts and directories
target/
.gradle/
build/

# IDE files (IntelliJ, Eclipse)
.idea/
*.iml
.settings/
